@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;1,200&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 14px;
}
:root {
  --primary-portfolio-clr: #18d26b;
  --fb-clr: #3b5999;
  --twitter-clr: #0097e6;
  --insta-clr: #e4405f;
  --linkedin-clr: #0077b5;
  --github-clr: #6e5494;
  --navlink-clr: rgba(255, 255, 255, 0.7);
}
* {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  overflow-x: hidden;
}
body::before {
  content: "";
  position: fixed;
  background: #040404 url("images/background.jpeg") center no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

a {
  text-decoration: none;
}

.link-primary {
  margin-right: 1.5rem;
  color: var(--navlink-clr);
  font-size: 1.2rem;
  transition: color, font-size, 0.4s ease-in-out;
  cursor: pointer;
}

.list-non-bullets {
  list-style: none;
}

/* <----------Navbar---------> */

.navbar {
  padding: 2rem 0;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus {
  color: #fff;
  position: relative;
  padding-bottom: 0.4rem;
  font-size: 1.4rem;
}
.navbar .active::before,
.navbar a:hover::before {
  content: "";
  position: absolute;
  width: 53%;
  bottom: 0;
  border-bottom: 3px solid var(--primary-portfolio-clr);
  animation: marker 1s;
}

@keyframes marker {
  0% {
    width: 0%;
  }
  100% {
    width: 53%;
  }
}

/* <----------Social Media Links---------> */

.social-links {
  display: flex;
  gap: 0.6rem;
}
.social-links a {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #e5e7eb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links a i {
  transition: 0.4s;
}
.social-links a:hover > i {
  font-size: 1.2rem;
  color: #fff;
}
.social-links .twitter:hover {
  background-color: var(--twitter-clr);
}
.social-links .facebook:hover {
  background-color: var(--fb-clr);
}
.social-links .instagram:hover {
  background-color: var(--insta-clr);
}
.social-links .linkedin:hover {
  background-color: var(--linkedin-clr);
}
.social-links .github:hover {
  background-color: var(--github-clr);
}
.fa-twitter {
  color: var(--twitter-clr);
}
.fa-facebook {
  color: var(--fb-clr);
}
.fa-instagram {
  color: var(--insta-clr);
}
.fa-linkedin {
  color: var(--linkedin-clr);
}
.fa-github {
  color: var(--github-clr);
}
.fa-hackerrank {
  color: #00e261;
}

/* <----------Header---------> */

#home {
  display: flex;
  flex-direction: column;
  padding-left: 10rem;
  justify-content: center;
  height: 100vh;
  position: relative;
  animation: fade-top 1s;
}
#home h1 {
  /* font-weight: 700; */
  /* font-family: "Poppins", sans-serif; */
  font-size: 3rem;
  /* color: #fff; */
  /* text-shadow: 0 2px 5px #000; */
  /* transition: all ease-in-out 1s; */
}
#home h3 {
  margin-top: 0.6rem;
}
#home span {
  color: #c7d2fe;
  position: relative;
}
#home span::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom: 3px solid var(--primary-portfolio-clr);
}
.section {
  margin: auto;
  padding: 2rem 2rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  height: 100%;
  background-color: rgba(0, 32, 49, 0.9);
  width: 75vw;
  display: none;
  transition: ease-in-out 1s;
}
.section .section-title {
  position: relative;
  font-size: 1.5rem;
  color: var(--navlink-clr);
  text-shadow: 0 2px 5px #000;
}
.section-title::after {
  content: "";
  position: absolute;
  width: 15vw;
  bottom: 50%;
  margin-left: 1vw;
  border-bottom: 2px solid var(--primary-portfolio-clr);
}
.section-off-white {
  background-color: #bfdbfe;
  width: 50vh;
}
@media (max-width: 991px) {
  #home {
    margin: auto;
    justify-content: center;
    padding: 0;
  }
  #home h1 {
    font-size: 2.5rem;
  }
  #home h3 {
    margin: 0.5rem 0 2rem;
  }
  #home h1,
  #home h3 {
    text-align: center;
  }
  #home .social-links {
    margin-top: 2%;
    justify-content: center;
  }
  #home .navbar {
    display: none;
  }
  body .bars {
    display: block;
  }
}
@media (max-width: 520px) {
  #home h1 {
    font-size: 2.2rem;
  }
  #home h3 {
    font-size: 1.2rem;
  }
}

/* <----------Secondary Nav Bar---------> */

.secondary-nav-bar {
  display: none;
  padding: 0.5rem 0;
  width: 100vw;
  margin: auto;
  background-color: #000;
  background-image: radial-gradient(circle at bottom right, black, #111827);
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}
.secondary-nav-bar span {
  font-size: 2.5rem;
  margin-left: 5rem;
  transition: ease-in-out 1s;
}
.secondary-nav-bar .link-primary {
  font-size: 1rem;
  margin-left: 0.4rem;
}
.secondary-nav-bar .navbar {
  margin-right: 3rem;
  padding: 0;
}
.secondary-nav-bar .navbar a:hover {
  font-size: 1.2rem;
}

/* <----------About---------> */

.about h1 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  margin: 1rem 0;
}
.about-me {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  transition: ease-out 1s;
  justify-content: space-between;
}
.pic-container {
  position: relative;
  animation: fade-left 1.5s;
  width: 40%;
  height: 40%;
  margin: 2rem auto;
}

@keyframes fade-left {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}
@keyframes fade-right {
  0% {
    right: -300px;
  }
  100% {
    right: 0;
  }
}
@keyframes fade-top {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}
@keyframes fade-bottom {
  0% {
    bottom: -300px;
  }
  100% {
    bottom: 0;
  }
}
.basic-information {
  padding: 0 2rem;
  background-color: black;
  position: relative;
  animation: fade-right 1.5s;
}
.about-title {
  color: #18d26e;
}
.personal-info-box {
  display: flex;
  justify-content: space-between;
}
.personal-info-box-1 {
  width: 50%;
}
.personal-info-box-2 {
  width: 40%;
}
.personal-info-box li {
  margin: 1.5rem 0;
  font-size: 1rem;
}
.personal-info-box .arrow {
  color: var(--primary-portfolio-clr);
}
.personal-info-box .info-title {
  font-size: 1.11rem;
}

.skills {
  margin-top: 2rem;
}
.skills-set {
  margin: 3rem 0 0 0;
  display: flex;
  justify-content: space-between;
}
.skills-set .skill-set-1 {
  width: 48%;
}
.skills-set .skill-set-2 {
  width: 48%;
}
.skills-set .skill-progress {
  margin-bottom: 1.5rem;
}
.skill-progress span {
  font-size: 0.8rem;
}
.skills-set .progress-bar {
  margin-top: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  height: 10px;
}
.skill-progress .progress {
  background-color: var(--primary-portfolio-clr);
  border-right: 2px solid #040404;
  height: 100%;
}
.cplusplus {
  width: 90%;
  animation: cplusplus 2s;
}
.python {
  width: 75%;
  animation: python 2s;
}
.rpa {
  width: 70%;
  animation: rpa 2s;
}
.js {
  width: 80%;
  animation: js 2s;
}

@keyframes cplusplus {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes rpa {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@media (max-width: 991px) {
  .personal-info-box {
    justify-content: center;
  }
  .secondary-nav-bar {
    margin: 0;
    animation: fade-right 1s;
  }
  .secondary-nav-bar .navbar {
    display: none;
  }
  .secondary-nav-bar span {
    font-size: 1.5rem;
    line-height: 200%;
    margin-left: 3rem;
  }
  .about-me {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .basic-information {
    width: 90%;
  }
  .basic-information p {
    margin-bottom: 1.5rem;
  }
  .about h4:after {
    width: 30vw;
    margin-left: 2vw;
  }
}
@media (max-width: 520px) {
  .about {
    width: 78%;
  }
  .about-me .pic-container {
    width: 300px;
    height: 60%;
  }
  .personal-info-box {
    flex-direction: column;
  }
  .personal-info-box-1,
  .personal-info-box-2 {
    width: 100%;
  }
  .personal-info-box li {
    margin: 0 0 1.5rem;
  }
  .basic-information {
    width: 94%;
  }
  .secondary-nav-bar h1 {
    font-size: 1.7rem;
  }
  .secondary-nav-bar span {
    font-size: 1.5rem;
    line-height: 200%;
    margin-left: 1.5rem;
  }
  .skills-set {
    flex-direction: column;
  }
  .skills-set .skill-set-1 {
    width: 100%;
  }
  .skills-set .skill-set-2 {
    width: 100%;
  }
}

/* <----------Mobile Menu Bar---------> */

.bars {
  position: fixed;
  right: 0;
  margin-right: 1rem;
  margin-top: 1rem;
  font-size: x-large;
  color: var(--primary-portfolio-clr);
  display: none;
  z-index: 5;
  top: 0px;
  cursor: pointer;
}
.mobile-nav {
  width: 70%;
  border: 2px solid gray;
  display: none;
  margin: auto;
  position: relative;
  align-self: center;
  z-index: 20;
  top: 25vh;
  animation: fade-left 1s;
  background: transparent;
}
.mobile-nav .navbar {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-self: center;
}
.mobile-nav .link-primary {
  margin-top: 2rem;
  font-size: 1.1rem;
}

.mobile-nav .navbar .active,
.mobile-nav .navbar a:hover,
.mobile-nav .navbar .active:focus {
  width: 5rem;
  font-size: 1.2rem;
}

/* --------RESUME-------- */

.resume h1 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  margin: 1rem 0 2rem 0;
}

.resume .resume-items-container {
  display: flex;
  justify-content: space-between;
}
.resume-items-container .resume-item {
  position: relative;
}
.left-block {
  animation: fade-left 1s;
}
.right-block {
  animation: fade-right 1s;
}
.resume .resume-content-box {
  padding: 0 1.5rem;
  position: relative;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
}
.resume .resume-content-box::before {
  content: "";
  position: absolute;
  left: -9px;
  width: 1rem;
  height: 1rem;
  background-color: var(--primary-portfolio-clr);
  border-radius: 50%;
}
.resume .content-box-title {
  color: #18d26e;
  line-height: 1;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.resume .resume-content-box p {
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin-top: 1.3rem;
  padding-bottom: 2rem;
}

.resume .resume-content-title {
  margin: 1rem 0;
  font-size: 1.8rem;
}

.resume-content-box ul {
  margin-top: -1rem;
  margin-left: 1rem;
}
.resume-content-box li {
  line-height: 200%;
}

.resume .resume-content-box .duration {
  background-image: linear-gradient(to top right, #064e3b, #312e81);
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-weight: 500;
  font-style: normal;
  padding: 0 1rem;
  line-height: 300%;
  width: 9rem;
  border: 3px solid #fff;
  font-size: 0.9rem;
  border-radius: 10px;
  margin: 1rem 0;
  margin-top: 1rem;
}

.resume-content-box a {
  background-image: linear-gradient(to top right, #064e3b, #f59e0b);
  text-align: center;
  line-height: 300%;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
}

@media (max-width: 991px) {
  .resume {
    width: 78%;
  }
  .resume .resume-items-container {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .resume-items-container .resume-item {
    margin: auto;
    align-items: center;
    width: 95%;
  }
}

/*------------Contact----------*/

.contact h1 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  margin: 1rem 0 2rem 0;
}

.contact-items {
  display: flex;
  justify-content: space-between;
}
.contact-items .contact-item {
  position: relative;
  width: 49%;
}

.contact-content-box {
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  padding: 1.5rem;
}

.contact-item .contact-content-box h3 {
  line-height: 1;
  margin: 0.9rem 0 0.9rem 4rem;
  font-size: 1.45rem;
  color: rgba(255, 255, 255, 0.5);
}
.contact-content-box .icon {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  padding: 1rem;
  height: 20px;
  width: 20px;
  color: var(--primary-portfolio-clr);
  font-size: 1.45rem;
  background: rgba(255, 255, 255, 0.1);
  float: left;
  transition: ease-in-out 0.4s;
}

.contact-content-box:hover > .icon {
  background-color: var(--primary-portfolio-clr);
  color: black;
}

.contact-content-box i {
  padding: 0;
  margin: 0;
}
.contact-content-box p {
  margin: 0.9rem 0 0.9rem 4rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  font-family: "Open Sans", cursive;
}

.contact-item .social-links {
  margin: 0.9rem 4rem 0;
  text-align: start;
}
.contact-item .social-links a {
  margin-top: -0.5rem;
  margin-right: -1rem;
  background-color: inherit;
}
.contact-item .social-links a > i {
  font-size: 1.2rem;
  color: #fff;
}
.contact-item .social-links a:hover {
  background-color: inherit;
}
.contact-item .social-links a:hover > i {
  color: var(--primary-portfolio-clr);
  font-size: 1.5rem;
}

.form .user-details {
  display: flex;
  justify-content: space-between;
}

.form-text {
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.08);
  color: #fff;
  padding: 0.6rem;
  width: 97.8%;
}

.user-details input {
  width: 46%;
}

.submit {
  background-image: linear-gradient(to top right, #064e3b, #312e81);
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-weight: 500;
  padding: 0.4rem 1rem;
  width: 4rem;
  border: 3px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 1rem;
  transition: font-size ease-in-out 0.5s;
}
.submit:hover {
  font-size: 1.15rem;
}
@media (max-width: 756px) {
  .contact {
    width: 78%;
  }
  .contact-items {
    flex-direction: column;
  }
  .contact-items .contact-item {
    width: 100%;
  }
  .form .user-details {
    flex-direction: column;
  }
  .user-details input,
  .form-text {
    width: 95%;
  }
}

/*------------PROJECTS----------*/
.projects h1 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  margin: 1rem 0 2rem 0;
}
.projects-container .projects-column {
  width: 70%;
  position: relative;
  margin: auto;
}
.projects .project {
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  margin-bottom: 2rem;
  padding: 1.5rem;
}
.project .project-title {
  margin-bottom: 1rem;
}
.project .view-project {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.project .view-project h4 {
  border: 4px solid var(--primary-portfolio-clr);
  padding: 0.5rem 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s;
}
.project .view-project h4:hover {
  background-color: var(--primary-portfolio-clr);
  color: #000;
  font-size: 1.1rem;
}
.project p, .blog p{
  line-height: 1.75;
}

@media (max-width: 830px) {
  .projects {
    width: 78%;
  }
  .projects-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects-container .projects-column {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .project .view-project h4 {
    padding: 0.5rem 0.8rem;
    font-size: 0.75rem;
  }
}

/*------------BLOGS----------*/
.blogs h1 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  margin: 1rem 0 2rem 0;
}
.blogs-container .blogs-column {
  width: 70%;
  position: relative;
  margin: auto;
}
.blogs .blog {
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  margin-bottom: 2rem;
  padding: 1.5rem;
}
.blog .blog-title {
  margin-bottom: 1rem;
}
.blog .view-blog {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.blog .view-blog h4 {
  border: 4px solid var(--primary-portfolio-clr);
  padding: 0.5rem 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s;
}
.blog .view-blog h4:hover {
  background-color: var(--primary-portfolio-clr);
  color: #000;
  font-size: 1.1rem;
}

@media (max-width: 830px) {
  .blogs {
    width: 78%;
  }
  .blogs-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blogs-container .blogs-column {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .blog .view-blog h4 {
    padding: 0.5rem 0.8rem;
    font-size: 0.75rem;
  }
}
