@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
}
body::before {
  content: "";
  position: fixed;
  background: #040404
    url("https://images.unsplash.com/photo-1568750553381-8e9ce7756a8d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
    center no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
.container {
  padding: 0rem 1rem;
}

.container-centered {
  max-width: 600px;
  margin: auto;
}

a {
  text-decoration: none;
}

.link-primary {
  margin-right: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  transition: color, font-size, 0.4s ease-in-out;
}

hr {
  margin: 2rem;
}

.list-non-bullets {
  list-style: none;
}

.list-big-bullets::marker {
  /* content: "."; */
  font-size: 4rem;
  color: #18d26e;
}
.list-big-bullets {
  margin: 0rem 1.5rem;
  font-size: 2rem;
}
.list-item-inline {
  display: inline;
  margin: 0.5rem;
}
.navbar {
  /* background-color: cyan; */
  /* margin-top: 400px 0; */
  padding: 2rem 0rem;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus {
  color: #fff;
  position: relative;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
}
.navbar .active::before,
.navbar a:hover::before {
  content: "";
  position: absolute;
  width: 53%;
  bottom: 0;
  border-bottom: 4px solid #18d26b;
}

.social-links {
  display: flex;
  /* background-color: hotpink; */
  text-align: center;
}
.social-links a {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #e5e7eb;
  /* background-color: rgb(37, 40, 42); */
  border-radius: 50%;
  margin: 0.3rem;
  /* transition: ease-in-out 0.8s; */
  /* box-shadow: 1px 4px 8px 2px #9CA3AF; */
}
.social-links a i {
  margin-top: 30%;
  /* font-size: 1.4rem; */
  transition: all 0.4s linear;
  /* color:white; */
}
.social-links a:hover > i {
  font-size: 1.3rem;
  color: #fff;
}
.social-links .twitter:hover {
  background-color: #0097e6;
}
.social-links .facebook:hover {
  background-color: #3b5999;
}
.social-links .instagram:hover {
  background-color: #e4405f;
}
.social-links .linkedin:hover {
  background-color: #0077b5;
}
.social-links .github:hover {
  background-color: #6e5494;
}
.fa-twitter {
  color: #0097e6;
}
.fa-facebook {
  color: #3b5999;
}
.fa-instagram {
  color: #e4405f;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-github {
  color: #6e5494;
}

.header {
  /* background: #3498db; */
  display: flex;
  flex-direction: column;
  transition: ease-in-out 1s;
  padding-left: 10rem;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}
.header h1 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 2px 5px #000;
  transition: all ease-in-out 1s;
  /* background-color: hotpink; */
  /* background-color: lightblue; */
}
.header h3 {
  margin-top: 0.6rem;
  color: #fff;
}
.header span {
  color: blanchedalmond;
  position: relative;
  /* font-size: 1.5rem; */
}
.header span::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom: 3px solid #18d26b;
}
.section {
  margin: auto;
  text-align: center;
  padding: 1rem 0;
}
.section-off-white {
  background-color: #bfdbfe;
  width: 50vh;
}

@media (max-width: 991px) {
  .header {
    margin: auto;
    justify-content: center;
    padding: 0;
  }
  .header h1 {
    font-size: 2.5rem;
  }
  .header h3 {
    margin: 0.5rem 0 2rem;
  }
  .header h1,
  h3 {
    text-align: center;
  }
  .header .social-links {
    /* margin-left: 200px; */
    margin-top: 2%;
    justify-content: center;
  }
  .header .navbar {
    display: none;
  }
}

@media (max-width: 520px) {
  .social-links a {
    font-size: small;
    height: 2rem;
    width: 2rem;
  }
  .header h1{
    font-size: 2rem;
  }
  .header h3{
    /* font-size: 1rem; */
  }
}
