@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  background-color: #040404;
  color: #fff;
  position: relative;
}
body::before {
  content: "";
  position: fixed;
  background: #040404
    url("https://images.unsplash.com/photo-1568750553381-8e9ce7756a8d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
    center no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

a {
  text-decoration: none;
}

.link-primary {
  margin-right: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  transition: color, font-size, 0.4s ease-in-out;
}

.list-non-bullets {
  list-style: none;
}

/* <----------Navbar---------> */

.navbar {
  padding: 2rem 0;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus {
  color: #fff;
  position: relative;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
}
.navbar .active::before,
.navbar a:hover::before {
  content: "";
  position: absolute;
  width: 53%;
  bottom: 0;
  border-bottom: 4px solid #18d26b;
}

/* <----------Social Media Links---------> */

.social-links {
  display: flex;
  /* background-color: hotpink; */
  text-align: center;
}
.social-links a {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #e5e7eb;
  /* background-color: rgb(37, 40, 42); */
  border-radius: 50%;
  margin: 0.3rem;
  /* transition: ease-in-out 0.8s; */
  /* box-shadow: 1px 4px 8px 2px #9CA3AF; */
}
.social-links a i {
  margin-top: 30%;
  /* font-size: 1.4rem; */
  transition: all 0.4s linear;
  /* color:white; */
}
.social-links a:hover > i {
  font-size: 1.3rem;
  color: #fff;
}
.social-links .twitter:hover {
  background-color: #0097e6;
}
.social-links .facebook:hover {
  background-color: #3b5999;
}
.social-links .instagram:hover {
  background-color: #e4405f;
}
.social-links .linkedin:hover {
  background-color: #0077b5;
}
.social-links .github:hover {
  background-color: #6e5494;
}
.fa-twitter {
  color: #0097e6;
}
.fa-facebook {
  color: #3b5999;
}
.fa-instagram {
  color: #e4405f;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-github {
  color: #6e5494;
}

/* <----------Header---------> */

.header {
  /* background: #3498db; */
  display: flex;
  flex-direction: column;
  transition: ease-in-out 1s;
  padding-left: 10rem;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}
.header h1 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 2px 5px #000;
  transition: all ease-in-out 1s;
  /* background-color: hotpink; */
  /* background-color: lightblue; */
}
.header h3 {
  margin-top: 0.6rem;
  color: #fff;
}
.header span {
  color: cornsilk;
  position: relative;
  /* font-size: 1.5rem; */
}
.header span::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom: 3px solid #18d26b;
}
.section {
  margin: auto;
  /* text-align: center; */
  padding: 2rem 2rem;
}
.section-off-white {
  background-color: #bfdbfe;
  width: 50vh;
}
@media (max-width: 991px) {
  .header {
    margin: auto;
    justify-content: center;
    padding: 0;
  }
  .header h1 {
    font-size: 2.5rem;
  }
  .header h3 {
    margin: 0.5rem 0 2rem;
  }
  .header h1,
  .header h3 {
    text-align: center;
  }
  .header .social-links {
    /* margin-left: 200px; */
    margin-top: 2%;
    justify-content: center;
  }
  .header .navbar {
    display: none;
  }
  body .bars {
    display: block;
  }
}
@media (max-width: 520px) {
  .header h1 {
    font-size: 2.2rem;
  }
  .header h3 {
    font-size: 1.2rem;
  }
}

/* <----------About---------> */

.about {
  height: 100%;
  background-color: rgba(0, 32, 49, 1);
  width: 80%;
  display: none;
  transition: ease-in-out 1s;
}
.about h4 {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 2px 5px #000;
}
.about h4:after {
  content: "";
  position: absolute;
  width: 15vw;
  bottom: 50%;
  margin-left: 1vw;
  border-bottom: 2px solid #18d26b;
}
.about h1 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  margin: 1rem 0;
}
.about-me {
  padding: 2rem 0;
  display: flex;
  transition: ease-out 1s;
  justify-content: space-between;
  /* background-color: crimson; */
}
.pic-container {
  width: 50vh;
  height: 50vh;
  background-color: #fff;
}
.basic-information {
  padding: 0 4vw;
  width: 58%;
  /* display: flex; */
  background-color: black;
  /* justify-content: space-around; */
}
.about-title {
  color: #18d26e;
}
.personal-info-box {
  display: flex;
  justify-content: space-between;
  /* background-color: burlywood; */
}
.personal-info-box-1 {
  width: 50%;
  /* padding-right: 0 10rem; */
  /* background-color: chartreuse; */
}
.personal-info-box-2 {
  width: 40%;
  /* background-color: red; */
}
.personal-info-box li {
  margin: 1.5rem 0;
  font-size: 1.1rem;
  /* font-weight: bold; */
}
.personal-info-box span {
  color: #18d26e;
}
.secondary-nav-bar {
  display: none;
  padding: 1rem 2rem;
  width: 80%;
  margin: auto;
  transition: ease-in-out 1s;
  /* background-color: brown; */
  /* display: flex; */
  justify-content: space-between;
}
.secondary-nav-bar .link-primary {
  /* margin-top: 1.5rem; */
  font-size: 1.1rem;
}
.secondary-nav-bar .navbar {
  padding: 0.5rem;
}
.secondary-nav-bar .navbar a:hover {
  font-size: 1.2rem;
}
@media (max-width: 991px) {
  .personal-info-box {
    /* display: flex; */
    justify-content: center;
    /* background-color: burlywood; */
  }
  .secondary-nav-bar {
    /* padding: 1rem 1rem; */
    margin: 0;
  }
  .secondary-nav-bar .navbar {
    display: none;
  }
  .about-me {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-me .pic-container {
    margin: 2rem 0;
  }
  .basic-information {
    width: 90%;
  }
  .about h4:after {
    width: 30vw;
    margin-left: 2vw;
  }
}
@media (max-width: 520px) {
  .personal-info-box {
    flex-direction: column;
  }
  .personal-info-box-1,
  .personal-info-box-2 {
    width: 100%;
  }
  .basic-information {
    width: 100%;
  }
  .secondary-nav-bar h1 {
    font-size: 1.7rem;
  }
}

/* <----------Mobile Menu Bar---------> */

.bars {
  /* float: right; */
  /* position: relative; */
  /* left: 100; */
  /* padding-top: 10rem; */
  /* margin: 1rem; */
  /* margin-left: 300px; */
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: x-large;
  color: #18d26b;
  display: none;
}
.mobile-nav {
  width: 70%;
  border: 2px solid gray;
  display: none;
  margin: auto;
  align-items: center;
}
.mobile-nav .navbar {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.mobile-nav .link-primary {
  /* display: block; */
  margin-top: 2rem;
}
.mobile-nav .active::before,
.mobile-nav a:hover::before {
  width: 15%;
}
.mobile-nav .link-primary {
  /* margin-top: 1.5rem; */
  font-size: 1.1rem;
}
.mobile-nav .navbar a:hover {
  font-size: 1.2rem;
}
